---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import ProblemSolution from '../components/ProblemSolution.astro';
import MetricsBar from '../components/MetricsBar.astro';
import FeaturesGrid from '../components/FeaturesGrid.astro';
import HowItWorks from '../components/HowItWorks.astro';
import ComparisonTable from '../components/ComparisonTable.astro';
import Architecture from '../components/Architecture.astro';
import Privacy from '../components/Privacy.astro';
import Installation from '../components/Installation.astro';
import OpenSource from '../components/OpenSource.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <ProblemSolution />
    <MetricsBar />
    <FeaturesGrid />
    <HowItWorks />
    <ComparisonTable />
    <Architecture />
    <Privacy />
    <Installation />
    <OpenSource />
  </main>
  <Footer />
</Layout>
